body{
    background-color: #0d1115;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 62px;
    text-align: center;
    text-transform: uppercase;
    margin: 46px 0;
}

.cabecalho{
    display: flex;
    background-color: black;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 5px;
}

.cabecalho__nav ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
    font-size: 18px;
    justify-content: flex-end;
   
}

.cabecalho__nav a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    
}

.cabecalho__nav a:hover{
   text-decoration: underline; 
}

a.cabecalho__nav-active{
    background-color: #cbe300;
    color: #0c1014;
    pointer-events: none;
}

.todos__planos{
    display: flex;
    justify-content: space-between;
    background-color: #0d1115;
    padding: 10px 20px;
    max-width: 960px;

}

.planos {
    display: flex;
    width: 28%;
    background-color: #3c4146;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 12px black;
}

.titulo__planos{
    margin-top: 0;
    padding-bottom: 10px;
    background-color: #3c4146;
    border-bottom: 1px #cbe300 solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.assine {
    margin-top: auto; 
    align-self: center;
    padding: 10px 70px;
    background-color: #cbe300;
    border: solid 1px black;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

}

.assine:hover{
    outline: 2px solid #cbe300;
    background-color: transparent;
    color: white;
}

p{
    text-align: center;
    font-size: 20px;
}

b{
    font-size: 30px;
}

.preco{
    text-align: left;
    text-transform: capitalize;
    font-size: 15px;
}

footer{
    background-color: aqua;
    padding: 6px;
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
}

.tem__no__plano{
    margin-bottom: 50px;
    line-height: 25px;
    padding-left: 20px;

}

