body{
    margin: 0;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

li{
    display: inline-block;
    background-color: rgb(0, 0, 0, .3);
    padding: 5px;
    border: solid rgb(255, 255, 255) 1px;
    margin: 1px 9px 10px 0;
    list-style-type: none;
    color: white;
    
}

h2{
    background-color: #eee;
    padding: 4px 5px;
    border-bottom: solid #ccc 2px;
}

.html{
    background-color: white;
    padding: 1px 10px 20px 10px;
    margin-left: 40px;
    margin-right: 40px;
   
}

footer{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 25px;
}

.link{
    background-color: #ccc;
    padding: 10px;
    border-radius: 6px;
    color: black;
}

header{
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    text-align: center;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.nav{
    text-align: right;
    color: white;
}
h1{
    width: 80%;
    margin: 50px auto 0;
    font-size: 56px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.titulo{
    color: white;
    background-color: rgba(0,0,0, 0.7);
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid;
}

a{
    color: #cdc;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 12px;
}

